body{
    font-family: sans-serif
}

.menu-item {
    width: 250px;
    height: 50px;
    border: 1px solid gray;
    list-style-type: none;
    padding: 5px;
}

.container {
  display: flex;
}

.hover {
    background: lightgray
}

.selected{
    background: gold
}

svg{
    z-index: 1;
    width: 100%;
    transform: scale(0.95);
}


